<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<html>
<head>
    <title>Titans Chat</title>
    <link rel='shortcut icon' type='image/x-icon'
          href='https://res.cloudinary.com/quynv300192/image/upload/v1629967590/PROJECT%20KI%201/Screenshot_12_osg2wz.jpg'/>
    <link rel="stylesheet" href="css/chat.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
          rel="stylesheet"/>
</head>
<body>
<div class="container mt-5">
    <!--    user infor-->
    <h2 style="display: none" id="username1"><%= name %></h2>
    <h2 style="display: none" id="room1"><%= room %></h2>
    <!--   end user infor -->
    <h3 class=" text-center color1">Titans Chat</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="row">
                <div class="inbox_people col-12 col-md-3">
                    <div class="row">
                        <div class="headind_srch col-12 col-md-12">
                            <div class="row">
                                <div class="recent_heading col-4 col-md-6 mt-2">
                                    <h4 class="text-right">Room: </h4>
                                </div>
                                <div class="srch_bar col-4 col-md-6 mt-2">
                                    <div class="recent_heading">
                                        <h4 id="roomName2" class="text-left"></h4>
                                    </div>
                                </div>
                                <div class="col-4 col-md-12">
                                    <input class="btn-danger mt-2" type="button" value="Leave Room" name="Leave Room"
                                           id="leaveRoom">
                                </div>
                            </div>
                        </div>
                        <div class="inbox_chat col-12 col-md-12">
                            <ul id="users"></ul>
                        </div>
                    </div>
                </div>
                <div class="mesgs col-12 col-md-9">
                    <form action="#" id="chatForm">
                        <div class="msg_history"></div>
                        <div class="type_msg">
                            <div class="input_msg_write">
                                <input id="msg" name="msg" type="text" class="write_msg" placeholder="Type a message"/>
                                <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o"
                                                                              aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="JquerryBootstrap/jquery-3.6.0.js"></script>
<script src="JquerryBootstrap/bootstrap.js"></script>
<script src="JquerryBootstrap/jquery.validate.js"></script>
<script src="js/chat.js"></script>
</body>
</html>