<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="JquerryBootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/style.css"/>
    <title>ChatCord App</title>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form action="/chat" id="form1">
                <div class="imgcontainer">
                    <img src="https://res.cloudinary.com/quynv300192/image/upload/v1629967590/PROJECT%20KI%201/Screenshot_12_osg2wz.jpg"
                         alt="Avatar" class="avatar">
                </div>
                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" id="username" required>
                    <label for="room"><b>Room</b></label>
                    <input type="text" placeholder="Enter Room's Name" name="room" id="room" required>
<!--                    <select name="room" id="room" class="custom-select-lg w-100">-->
<!--                        <option value="Room001">Room001</option>-->
<!--                        <option value="Room002">Room002</option>-->
<!--                        <option value="Room003">Room003</option>-->
<!--                        <option value="Room004">Room004</option>-->
<!--                        <option value="Room005">Room005</option>-->
<!--                        <option value="Room006">Room006</option>-->
<!--                    </select>-->
                    <button type="submit">Enter Room</button>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="cancelbtn">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<script src="JquerryBootstrap/bootstrap.js"></script>
</body>
</html>