<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="JquerryBootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/style.css"/>
    <title>Battousai Chat Login</title>
    <link rel='shortcut icon' type='image/x-icon' href='https://res.cloudinary.com/quynv300192/image/upload/v1629967590/PROJECT%20KI%201/Screenshot_12_osg2wz.jpg' />
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form action="/chat" id="form1">
                <div class="imgcontainer">
                    <img src="https://res.cloudinary.com/quynv300192/image/upload/v1629967590/PROJECT%20KI%201/Screenshot_12_osg2wz.jpg"
                         alt="Avatar" class="avatar">
                </div>
                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" id="username">
                    <br>
                    <label for="room"><b>Room</b></label>
                    <input type="text" placeholder="Enter Room's Name" name="room" id="room">
                    <button type="submit">Enter Room</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<script src="JquerryBootstrap/jquery-3.6.0.js"></script>
<script src="JquerryBootstrap/bootstrap.js"></script>
<script src="JquerryBootstrap/jquery.validate.js"></script>
<script src="js/index.js"></script>
</body>
</html>